/repo/plugin.program.gamescenter/
/repo/plugin.program.photololitas/
/repo/plugin.program.photosets/
/repo/plugin.program.starter/
/repo/resource.uisounds.ellipsisui/
/repo/script.alphabet.service/
/repo/script.skin.helper.service/
/repo/script.skin.helper.widgets/
/repo/script.skinshortcuts/
/repo/script.song.autorating/
/repo/skin.mediacenter/